version: '3.9'

services:
  db:
    image: docker.io/postgres:16
    container_name: principios_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: principios_api
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_DIALECT: ${DB_DIALECT}
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
    volumes:
      - .:/app
    command: ["npm", "run", "dev"]

volumes:
  postgres_data:
